<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wcompany.mrwah.health_services">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".adapters.Initializer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controllers.startup.spalsh">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controllers.startup.walk_through" />
        <activity android:name=".controllers.login.login" />
        <activity android:name=".controllers.signup.signup" />
        <activity android:name=".controllers.main_app.Profile" />
        <activity android:name=".controllers.signup.profile_setup1" />
        <activity android:name=".controllers.signup.profile_setup2" />
        <activity android:name=".controllers.signup.profile_setup2_2" />
        <activity android:name=".controllers.main_app.adminHome" />
        <activity android:name=".controllers.main_app.abonneHome" />
        <activity
            android:name=".controllers.main_app.home_medecin"
            android:label="@string/title_activity_home_medecin" />
        <activity
            android:name=".controllers.main_app.medecin_profile_edit"
            android:label="@string/title_activity_medecin_profile_edit"
            android:parentActivityName=".controllers.main_app.home_medecin"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wcompany.mrwah.health_services.controllers.main_app.home_medecin" />
        </activity>
        <activity
            android:name=".controllers.main_app.abonne_profile_edit"
            android:label="@string/title_activity_medecin_profile_edit"
            android:parentActivityName=".controllers.main_app.abonneHome"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wcompany.mrwah.health_services.controllers.main_app.abonneHome" />
        </activity>
    </application>

</manifest>